.AboutMe {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-background);
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.flipCardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: none;
    perspective: 1000px;
}

.flipCard {
    width: 35%;
    height: 80%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flipCardContainer:hover .flipCard{
    transform: rotateY(180deg);
}

.flipCardFront {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0);
    box-shadow: -4px 4px 8px 3px var(--main-color-text);
    border-radius: 5px;
}

.flipCardFront:hover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0);
    box-shadow: 0 0 5px #fffde7, 0 0 25px #fffde7, 0 0 50px #fffde7, 0 0 200px #fffde7;
    border-radius: 5px;
}

.flipCardBack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0);
    box-shadow: -4px 4px 8px 3px var(--main-color-text);
    border-radius: 5px;
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.idPicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 20px;
}

.idPicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.idInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idName {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 16px;
    margin: 20px;
    text-align: justify;
}

.storyInfos {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 16px;
    margin: 20px;
    text-align: justify;
}

.storyText {
    margin-bottom: 15px;
}
.titleJobContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.titleJob {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.stackJob {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 389px) {
    .devId {
        width: 65%;
        height: 75%;
    }
    
    .idPicContainer {
        width: 175px;
        height: 175px;
    }
    
    .idName {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
    .devId {
        width: 80%;
        height: 75%;
        box-shadow: -3px 3px 5px 2px var(--main-color-text);
    }
    
    .idPicContainer {
        width: 175px;
        height: 175px;
        margin: 20px;
    }
    
    .idName {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .titleJob {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .stackJob {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

