.AppDetail {
    width: 70vw;
    height: 78vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-color-background);
    border-radius: 5px;
    margin: 25px;
    margin-bottom: 40px;;
    padding: 15px;
    object-fit: contain;   
}

.AppDetail:hover {
    box-shadow: -4px 4px 8px 3px var(--main-color-text);
    border-radius: 5px; 
}

.firstBox {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.mainImgContainer {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 20px;
}

.mainImg {
    width: 100%;
    height: auto;
}

.secondBox {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding-top: 25px;
}

.underBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.topRow {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bottomRow {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.app-secondary-img {
    height: 85%;
    width: auto;    
    object-fit: contain; 
    margin: 10px;
}

.text-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.app-name {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.githubLogo {
    max-height: 15px;
    max-width: 15px;
    margin-left: 20px;
    margin-top: 15px;
}
.app-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: justified;
    text-align: justify;
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.app-description {
  margin: 5px;
}

.app-client {
    margin: 5px;
}

.app-stack {
    margin: 5px;
}

@media screen and (max-width: 390px) {
    .AppDetail {
        width: 75vw;
        height: 75vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }

    .firstBox {
        width: 100%;
        height: 70%;
        padding-top: 10px;
    }

    .mainImgContainer {
        width: 90%;
        height: auto;
        margin: 10px;
    }

    .secondBox {
        width: 100%;
        padding-top: 0px;
    }
    
    .underBox {
        flex-direction: row;
    }

    .topRow {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: 0px;
    }
    
    .bottomRow {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin: 0px;
    }

    .app-secondary-img {
        height: auto;
        max-width: 40%;
        margin: 5px;
    }

    .app-name {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .githubLogo {
        max-height: 20px;
        max-width: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .app-text {
        width: 100%;
        font-size: 12px;
        margin: 12px;
    }
}

@media screen and (min-width: 391px) and (max-width: 767px) {
    .AppDetail {
        width: 75vw;
        height: 75vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }

    .firstBox {
        width: 100%;
        height: 75%;
        padding-top: 10px;
    }

    .secondBox {
        width: 100%;
        padding-top: 0px;
    }
    
    .underBox {
        flex-direction: row;
    }

    .topRow {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: 0px;
    }
    
    .bottomRow {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin: 0px;
    }

    .app-secondary-img {
        height: auto;
        max-width: 40%;
        margin: 10px;
    }

    .app-name {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .githubLogo {
        max-height: 20px;
        max-width: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .app-text {
        width: 100%;
        font-size: 14px;
        margin: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .AppDetail {
        width: 75vw;
        height: 82vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }

    .firstBox {
        width: 100%;
        height: 80%;
        padding-top: 10px;
    }

    .secondBox {
        width: 100%;
        padding-top: 0px;
    }
    
    .underBox {
        flex-direction: row;
    }

    .app-secondary-img {
        height: auto;
        max-width: 40%;
    }

    .app-name {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .githubLogo {
        max-height: 20px;
        max-width: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .app-text {
        width: 100%;
        font-size: 14px;
        margin: 15px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
    .firstBox {
        padding-top: 5px;
    }

    .mainImgContainer {
        width: 70%;
        margin: 5px;
    }

    .secondBox {
        width: 35%;
        padding-top: 5px;
    }
}