.AppDetail {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-color-background);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    object-fit: contain;   
}

.AppDetail:hover {
    box-shadow: -4px 4px 8px 3px var(--main-color-text);
    border-radius: 5px; 
}

.firstBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainImgContainer {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 20px;
    margin-top: 81px;
}

.mainImg {
    width: 100%;
    height: auto;
}

.secondBox {
    width: 70%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: contain;
    margin-top: 20px;
}

.app-secondary-img {
    height: auto;
    max-width: 37%;
    object-fit: contain; 
    margin: 10px;
}

.text-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.app-name {
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 16px;
    margin: 10px;
    margin-top: 50px;
}

.githubLogo {
    height: 15px;
    width: 15px;
    margin-left: 20px;
    margin-top: 55px;
}
.app-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: justified;
    text-align: justify;
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.app-description {
  margin: 5px;
}

.app-client {
    margin: 5px;
}

.app-stack {
    margin: 5px;
}