.AppList {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: blue;
    /*background-color: var(--main-color-background);*/
    /*background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
    font-family: var(--text-font);
    color: var(--main-color-text);
    font-size: 13px;
}


.AppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: yellow;
}

@media screen and (max-width: 390px) {
    .AppToDo {
        font-size: 10px;
    }
}

@media screen and (min-width: 391px) and (max-width: 767px){
    .AppToDo {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    .AppToDo {
        font-size: 12px;
    }
}

@media screen and (min-width: 821px) and (max-width: 1023px){
    .AppToDo {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
    
}
