@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color-general-background: #FFFFFF;  
    --main-color-dark-background: #093046;
    --main-color-light-background: #f9b513;

    --text-font: 'Roboto Mono', monospace;
};

body {
    font-family: var(--text-font);
}