@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color-background: #485461;
    --darker-color-background: #28313b;
    --main-color-text: #FBFBEF;
    --text-font: 'Roboto Mono', monospace;
};

body {
    font-family: var(--text-font);
}