.Nav {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.navContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navLink {
    height: 100%;
    color: var(--main-color-text);
    font-family: var(--text-font);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navLink:hover {
    color: var(--main-color-text);
    text-shadow: 0 0 5px #fffde7, 0 0 25px #fffde7, 0 0 50px #fffde7, 0 0 200px #fffde7;
    margin: 10px;
    font-family: var(--text-font);
    text-decoration: none;
}

@media screen and (max-width: 374px) {
    .navLink {
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 390px) {
    .navLink {
        font-size: 11px;
    }
}

@media screen and (min-width: 391px) and (max-width: 767px){
    .navLink {
        font-size: 12px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1179px) {
    .navLink {
        font-size: 30px;
    }
}